.list {
    &__search-box {
        padding: 10px 0;
    }
    @include breakpoint(mobile) {
        padding-bottom: 38px;
        &__more {
            margin-top: 5px;
        }
    }
    .row {
        margin-top: 10px;
        margin-left: -0.6rem;
    }
    .col{
        margin: 10px !important;
    }
}
